[Desktop Entry]
Type=Application
Exec=sh "$REPOHOME/patch-on-startup/patch-on-startup.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Patch On Startup
Name=Patch On Startup
Comment[en_GB]=
Comment=
